gaia-list > div > a {
    color: var(--text-color) !important;
}

gaia-list .space-bewteen {
    justify-content: space-between;
}
gaia-list .space-bewteen:before {
    content: unset;
}
gaia-header .icon.disconnected, gaia-header [data-icon].disconnected {
    color: var(--text-color) !important;
}

.custom-response {
    width: 100%;
}

.custom-response > * {
    display: flex;
    align-items: center;
}

.custom-response > h3 {
    justify-content: space-between;
}

.custom-response > p {
    justify-content: space-around;
    margin-top: 12px;
}

.custom-response gaia-text-input, .custom-response gaia-button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.custom-response > p > .send-response {
    width: 86%;
}

.custom-response > p > .label-switch{
    display: flex;
    flex-direction: column;
    align-items: center;
}